.user-info {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 16px;
  gap: 10px;

  .member-nickname {
    font-size: 1.1rem;
    font-weight: 800;
    padding: 0.4rem;
  }
  .button {
    display: flex;
    border-radius: 100%;
    overflow: hidden;
    flex: 0 0 auto;
    justify-content: center;
    align-items: center;
    padding: 0.4rem;
    &:hover {
      background: rgba(#000000, 0.05);
    }
    &:active {
      background: rgba(#000000, 0.1);
    }
    .icon {
      line-height: 3.1px;
      font-size: 1.1rem;
    }
  }
}
